.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: rgb(0, 10, 39);
  border: 1px solid #ccc;
  padding: 10px 0;
  margin: 10px 0;
  box-sizing: border-box;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}

.marquee-item {
  display: inline-block;
  margin-right: 50px;
  font-size: 1rem;
  font-weight: bold;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-paused .marquee-content {
  animation-play-state: paused;
}

.color-bar {
  height: 10px;
  margin-top: 10px; /* Add gap between marquee and color bar */
  background: linear-gradient(to right, var(--gradient-stops));
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: white;
  margin-top: 5px; /* Adjust as needed for spacing */
}

.label-item-green {
  flex: 0 0 auto;
  font-size: 20px;
  margin: 10px;
  color: greenyellow;
}
.label-item-yellow {
  flex: 0 0 auto;
  font-size: 20px;
  margin: 10px;
  color: yellow;
}.label-item-red {
  flex: 0 0 auto;
  font-size: 20px;
  margin: 10px;
  color: red;
}
